@page
@model PositionDatabase.Pages.Positions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.ContractType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Person.PersonId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Position.PositionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
