@page
@model PositionDatabase.Pages.Positions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.ContractType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Person.PersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Position.PositionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
