@page
@model PositionDatabase.Pages.AcademicStaff.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AcademicStaff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStaff.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicStaff.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStaff.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicStaff.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStaff.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicStaff.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStaff.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicStaff.ContractType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStaff.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicStaff.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStaff.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicStaff.Person.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AcademicStaff.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
